{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %} {% url "view_list" list.id %} {% endblock %}

{% block table %}
    {% if user.is_authenticated and list.owner != user %}
        <h2><span id="id_list_owner">{{ list.owner.email}}</span>'s list</h2>
    {% endif %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr>
                <td>{{ forloop.counter }}: {{ item.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block share_list_form %}
    <form id="form_share" method="POST" action="{% url "share_list" list.id %}">
        <label for="sharee">Share </label>
        <input id="sharee" type="email" name="sharee" placeholder="your-friend@example.com">
        <input type="submit" value="OK">
        {% csrf_token %}
        {% if form.errors %}
            <div class="form-group has-error">
                <div class="help-block">{{ form.text.errors }}</div>
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block shared_with_users %}
    <h2 id="id_shared_with">Shared With</h2>
    <table class="table">
        {% for sharee in list.shared_with.all %}
            <tr>
                <td class="list-sharee">{{ sharee.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}



